/* You can add global styles to this file, and also import other style files */

@import 'forkongithub';
@import 'socialicons';
@import 'spinner';
@import 'loader';
$bgBodyColor: #ffffff;
$anchorColor: #00ffff;
$debugMode: 'true';
$gridHeaderColor: #616161;
$gridContentColor: none;
$gridFooterColor: #616161;
$headerTextColor: #dff0d8;
// Debuging for grid
// $gridHeaderColor: #19d5f7;
// $gridContentColor: #ffddfd;
// $gridFooterColor: #7ae6a9;
html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    // background-color: $bgBodyColor;
    color: #333;
    width: 100%;
}

a,
a:focus,
a:hover {
    color: $anchorColor;
    text-decoration: none;
    font-weight: 600;
}

// CSS Grid site template with sticky footer (https://codepen.io/Cl3r1k/pen/WdbRER)
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.grid-container {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    // grid-gap: 5px;
    margin: 0;
    .header {
        grid-column: span 12;
        padding: 0px 30px;
        color: white;
        background-color: $gridHeaderColor;
        text-align: center;
        .header-title {
            display: inline-block;
            a {
                color: $headerTextColor;
            }
        }
    }
    .content {
        grid-column: span 12;
        background-color: $gridContentColor;
        padding: 10px 0;
        background-image: radial-gradient(#F1F2B5, #283c86);
    }
    .footer {
        text-align: center;
        background-color: $gridFooterColor;
        grid-column: span 12;
        padding-top: 15px;
        padding-bottom: 5px;
        color: white;
        p {
            font-weight: 600;
        }
        img {
            vertical-align: middle;
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-puzzle {
    font-size: 40px;
    margin-bottom: -10px;
    margin-right: 5px;
    color: #53f314;
}

.icon-dice {
    font-size: 26px;
    margin-bottom: -6px;
    color: $anchorColor;
}

// Styles for text
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    margin: 0 0 10px 0;
}

.full-width {
    width: 100%;
    textarea {
        height: 70px;
    }
}