/* You can add global styles to this file, and also import other style files */

@import 'forkongithub';
@import 'socialicons';
@import 'spinner';
@import 'loader';
$bgBodyColor: #ffffff;
$anchorColor: #17840b;
$debugMode: 'true';
$gridHeaderColor: #616161;
$gridContentColor: none;
$gridFooterColor: #616161;
$headerTextColor: #dff0d8;
// Debuging for grid
// $gridHeaderColor: #19d5f7;
// $gridContentColor: #ffddfd;
// $gridFooterColor: #7ae6a9;
html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    // height: auto !important;
    min-height: 100%;
    min-width: 100%;
}

body {
    // background-color: $bgBodyColor;
    // background-image: radial-gradient(#F1F2B5, #283c86);
    color: #333;
    width: 100%;
}

a,
a:focus,
a:hover {
    color: $anchorColor;
    text-decoration: none;
    font-weight: 600;
}

// CSS Grid site template with sticky footer (https://codepen.io/Cl3r1k/pen/WdbRER)
// html,
// body {
//     height: 100%;
//     background-image: linear-gradient(40deg, #283c86, #F1F2B5);
// }
// body {
//     margin: 0;
// }
// body {
//     display: grid;
//     grid-gap: 10px;
//     height: 100%;
//     grid-template-columns: 1fr;
//     grid-template-areas: "head" "main" "footer";
//     grid-template-rows: 100px 1fr 80px;
// }
// .header {
//     grid-area: head;
// }
// .content {
//     grid-area: main;
// }
// .footer {
//     grid-area: footer;
// }
// .header {
//     background-color: #7E57C2;
// }
// .content {
//     background-color: #F8BBD0;
// }
// .footer {
//     background-color: #371e64;
// }
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.grid-container {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    // grid-gap: 5px;
    margin: 0;
    .header {
        grid-column: span 12;
        padding: 0px 30px;
        color: white;
        background-color: $gridHeaderColor;
        text-align: center;
        .header-title {
            display: inline-block;
            a {
                color: $headerTextColor;
            }
        }
    }
    .content {
        grid-column: span 12;
        background-color: $gridContentColor;
        padding: 10px 0;
        // background-image: linear-gradient(40deg, #283c86, #F1F2B5);
        background-image: radial-gradient(#F1F2B5, #283c86);
    }
    .footer {
        text-align: center;
        background-color: $gridFooterColor;
        grid-column: span 12;
        padding-top: 15px;
        padding-bottom: 5px;
        // background-image: linear-gradient(40deg, #283c86, #F1F2B5);
        p {
            font-weight: 600;
        }
        img {
            vertical-align: middle;
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-spoon-knife {
    font-size: 40px;
    margin-bottom: -12px;
    margin-right: 5px;
    color: $headerTextColor;
}

.icon-receipt {
    font-size: 22px;
    margin-bottom: -5px;
    color: #1b8fb1;
}

// Styles for text
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    margin: 0 0 10px 0;
}

.full-width {
    width: 100%;
    textarea {
        height: 70px;
    }
}